.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(#000, 0.4)
  z-index: 100

  &__container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 700px
    background-color: #fff
    color: #3a3a3a
    box-sizing: border-box
    overflow: hidden

  &__header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 40px
    height: 70px
    line-height: 70px
    background-color: #eee

  &__body
    position: relative
    max-height: 600px
    padding: 20px 40px
    font-size: 13px
    font-weight: 400
    overflow-y: scroll

  &__shadow
    display: block
    position: absolute
    left: 0
    bottom: -1px
    width: 100%
    height: 1px
    background-color: transparent
    box-shadow: 0 13px 70px 40px rgba(255,255,255,1)

  &__title
    font-size: 22px
    font-weight: 600

  &__close
    position: relative
    display: inline-block
    width: 16px
    height: 16px
    cursor: pointer
    transition: $transition

    &::after,
    &::before
      content: ''
      width: 2px
      height: 16px
      background-color: #000
      +center

    &::after
      transform: translate(-50%, -50%) rotate(45deg)

    &::before
      transform: translate(-50%, -50%) rotate(-45deg)

.modal-content

  &__title
    margin: 20px 0
    font-size: 20px
    font-weight: 400

  &__votes
    margin-left: 10px
    color: #209bff

  &__proposed,

    .icon
      top: 2px
      margin-right: 4px

  &__upvoted

    .icon
      top: 2px
      margin: 0 3px 0 8px

  &__upvoted-list

    .icon
      margin: 0 4px

  &__contributors
    margin: 20px 0

  &__description
    margin: 20px 0

  &__list-values
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    margin: 8px 0

    &.column
      flex-direction: column
      flex-wrap: wrap
      align-items: flex-start

    dt
      min-width: 110px

    dd
      width: 100%
      display: inline-block
      overflow: auto
      overflow-wrap: break-word

  &__link,
  &__link:active,
  &__link:focus,
  &__link:visited
    color: #209bff
    text-decoration: underline

  &__input,
  &__text-area
    display: block
    margin: 14px 0
    width: 100%
    flex-basis: 100%
    padding: 14px
    border: 1px solid #e0e0e0

    &:focus
      outline: none

  &__text-area
    resize: none

  &__input-small
    width: 100%
    padding: 2px 0
    border-bottom: 1px solid #e0e0e0

    &:focus
      outline: none

  &__submit,
  &__submit:active,
  &__submit:focus
    margin: 30px 0 20px
    width: 150px

  &__slack,
  &__slack:active,
  &__slack:focus,
  &__slack:visited
    display: inline-block
    text-decoration: none
    color: #3a3a3a
    margin: 20px 0
    cursor: pointer


    .icon
      top: 2px
      margin-right: 5px

  &__footnote
    margin-top: 10px
    color: #757575

.milestones
  display: flex
  flex-direction: column
  margin-top: 10px

.milestone
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  margin: 10px 0

  &__left
    min-width: 26px

  &__title
    display: inline-block
    margin-bottom: 2px